:root {
    --J1-couleur: #c74848;
    --J2-couleur: #3b3b3b;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.anim::before {
    display: block;
    content: "";
    width: 80px;
    height: 80px;
    box-shadow: inset 0 0 24px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    animation-duration: .8s;
    background-color: gray;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
}

.w::before, .i::before, .n::before, .ex::before {
    color: white;
    display: flex;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.w::before {
    content: "W";
}

.i::before {
    content: "I";
}

.n::before {
    content: "N";
}

.ex::before {
    content: "!";
}

@keyframes clignoter {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;

    }
    100% {
        opacity: 0;
    }
}

.divP4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    text-align: center;
    z-index: 10;
}

h1, .score {
    font-size: 80px;
    line-height: 74px;
}

.score {
    display: flex;
    margin: 16px;
}

h2 {
    margin-bottom: 16px;
}

span.scoreJoueur1 {
    color: var(--J1-couleur) !important;
    margin-right: 20px;
}

span.scoreJoueur2 {
    color: var(--J2-couleur) !important;
    margin-left: 20px;
}

.p4 {
    font-size: 60px;
}

table {
    display: table;
    border: 7px rgba(230, 184, 137, 0.3) outset;
    background: url('6793287-bois-texture-motif-brun-clair-vecteur-conception-arriere-plan-vectoriel.jpg');
    border-spacing: 8px;
    border-radius: 8px;
}

.pion {
    width: 80px;
    height: 80px;
    box-shadow: inset 0 0 24px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
}

.pion:hover {
    filter: brightness(0.8);
}

td.joueur1 {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
    background-color: var(--J1-couleur) !important;
}

td.joueur2 {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
    background-color: var(--J2-couleur) !important;
}

p {
    display: flex;
    align-items: center;
}

.divBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rejouer, .annuler {
    margin: 10px;
    background-color: #6b9b59;
    border-radius: 4px;
    border: none;
    height: 40px;
    width: 160px;
    padding: 8px;
    font-size: 20px;
    cursor: pointer;
}

.annuler {
    background-color: #5d599b;
}

.formCouleur {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    margin-bottom: 120px;
}

.formCouleur select, .jouer {
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    font-size: 24px;
    width: 360px;
    height: 60px;
}

label {
    font-size: 24px;
    margin: 16px;
}

.jouer {
    margin-top: 16px;
    background-color: #6b9b59;
}

.selectJ1 {
    background-color: var(--J1-couleur);
}

.selectJ2 {
    background-color: var(--J2-couleur);
}